Source: lingmo-desktop-theme
Section: devel
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper (>= 9),
   cmake,
   qt6-base-dev,
   qt6-base-private-dev,
   qt6-tools-dev,
   libdtk6widget-dev
Standards-Version: 4.5.0
Homepage: https://github.com/LingmoOS/lingmo-desktop-theme

Package: lingmo-theme-classic
Architecture: all
Description: lingmo desktop-environment - classic theme
 lingmo theme classic.

Package: lingmo-desktop-theme
Architecture: any
Depends:
   lingmo-theme-classic,
   libdtk6gui-bin,
   ${misc:Depends},${shlibs:Depends},
Description: lingmo desktop theme
 This package is LingmoDesktopTheme

Package: lingmo-xdgicon-convert
Architecture: any
Depends:
   libdtk6gui-bin,
   ${misc:Depends},${shlibs:Depends},
Recommends: libdtk6gui-bin (>= 6.0.48)
Description: lingmo xdgicon convert tool
 This package provides a tool to convert xdg icon theme to debian icon theme.
